/* RESET GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY GENERAL */
body {
  font-family: Arial, sans-serif;
  background: white;
  color: #222;
  min-height: 100vh;
}

/* LINKS */
a {
  text-decoration: none;
  color: inherit;
}
